.admin-choices {
    text-decoration: none;
    color: var(--orange);
    text-align: center;
    padding: 20px;
    margin: 50px;
    border: solid 3px var(--brightish-red);
    border-radius: var(--common-px);
    transition: transform 200ms ease;
    background-color: var(--palish-yellow);
}

.admin-choices:hover {
    transform: scale(1.1);
}

#admin-title {
    padding: var(--common-px);
    text-align: center;    
}

#admin-menu {
    display: flex;
    justify-content: center;
}

.icon {
    width: var(--image-dimension);
}

