/* * {
    outline: solid 1px green;
} */

:root {
    --input-padding: 10px;
}

html {
    display: inline-block;
    min-width: 800px;
    overflow: auto;
}

body {
    margin-top: 50px;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

input, select {
    outline: none;
    border: none;
    border-bottom: solid 1px black;
}

select {
    padding: 5px;
}
@keyframes dropdown {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.05)
    }

    100% {
        transform: scale(1)
    }
}

select:hover {
    animation-name: dropdown;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
}

input::placeholder {
    text-align: center;
}

h1 {
    text-align: center;
}

/* Job Details and Format and Name*/
#job-details-and-format-and-name-section {
    display: flex;
    flex-wrap: wrap;
}

/* Job Details */
#job-details-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.job-details-input {
    margin-top: 20px;
}

.job-details-input, .job-details-validation {
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Format and Name */
#format-and-name-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    /* align-items: center; */
}

.invalid-input {
    border-bottom: solid 2px var(--maroon);
}

.format-and-name-input {
    height: 30px;
    margin: 5px;
}

#format-and-name-choices {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.format-and-name-choice {
    display: flex;
    margin: 10px;
    padding: 20px;
    border: solid 1px black;
    border-radius: 2px;
    align-items: center;
}

.delete-format-button {
    width: 20px;
    height: 20px;
    border: solid 1px black;
}

.letters {
    display: block;
    text-transform: uppercase;
}

#add-job, #add-instruction, #add-format-and-name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: var(--input-padding);
    border: solid 1px black;
    border-radius: 3px;
}

.format-and-name-choice {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.format-and-name-input, .possible-format-option {
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#delete-format-button {
    width: 100px;
    height: 100px;
}

.validation {
    font-size: 10px;
    text-align: center;
}

.validation {
    color: firebrick;
    font-size: smaller;
}

/*  Instructions */
#instructions-section {
    display: none;
}

#item-select, #colour-select, #instruction-quantity{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#instruction-form-and-tables {
    display: grid;
    grid-template-areas: "instruction instruction instruction tables tables";
}

#instructions-section {
    grid-area: instruction;
}

#selected-instructions-section {
    grid-area: tables;
}

table, tr, th, td {
    padding: 10px;
}

/* Position */
#position-section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
/* For the dropdown  */
select::-webkit-scrollbar {
    display: none;
}

option:hover {
    background-color: var(--light-blue);
}
/* For the dropdown  */
/*  */


input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    color: green;
}

#position-section {
    display: flex;
}

.position-image {
    width: 100px;
    height: auto;
}

/* Conditional Classes */
.empty-format-container {
    position: relative;
}

.empty-format-container:before {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 560px;
    content: 'Add Format and Name';
    font-size: 3em;
    font-family: 'IBM Plex Sans Light Italic';
}

.empty-position-container:before {
    text-align: center;
    font-family: 'IBM Plex Sans Light Italic';
    content: 'Choose Item For Positions to Appear';
}

.empty-table:before{
    content: 'Add Instruction';
    font-style: italic;
}

@keyframes selected {
    0% {
        background-color: white;
    }

    100% {
        background-color: var(--light-blue);
    }
}

.selected {
    animation-name: selected;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    border: solid 2px var(--blue);
    background-color: var(--light-blue);
}
#selected-instructions-section {
    display: none;
}
.instruction-table {
    min-width: 400px;
}

.instruction-table, tr,td, th {
    border: solid 1px black;
}

.instruction-table {
    border-collapse: collapse;
    border-spacing: 0;
}

#add-job {
    display: none;
}

/* Before elements */
.section-tooltip {
    position: relative;
    padding: 50px;
}

.section-tooltip::before {
    position: absolute;
    width: min-content;
    top: 10px;
    left: 10px;
    border-radius: 20px;
    padding: 5px;
    border: solid 1px var(--brightish-red);
    color: var(--orange);
    background-color: var(--palish-yellow);
}

#job-details-section::before {
    content: '1';
}

#format-and-name-section::before {
    content: '2';
}

#instructions-section::before {
    content: '3';
}

#selected-instructions-section::before {
    content: '4';
}