:root {
    --common-px: 10px;
    --brightish-red: #AE2012;
    --palish-yellow: #E9D8A6;
    --yellow: #ffde24b5;
    --maroon: #9B2226;
    --image-dimension: 150px;
    --dark-blue: #005F73;
    --blue: #0A9396;
    --light-blue: #94D2BD;
    --blackish: #001219;
    --orange: #CA6702;
}

* {
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: solid 1px black; */
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata/Prata-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf');
}

.back-button {
    position: absolute;
    left: -1px;
    top: 5px;
    border: solid 1px black;
    border-radius: 0px var(--common-px) var(--common-px) 0px;
    padding: var(--common-px);
    text-decoration: none;
    color: black;
    transition: padding-left 200ms ease ;
}

.back-button:hover {
    padding-left: 20px;
}
