/* * {
    outline: solid 1px green;
} */

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#logo {
    width: 50px;
}

#new-job-link, #go-to-admin {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#job-search-container {
    position: sticky;
}
.job-search {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    border: solid 1px var(--blackish);
    border-radius: var(--common-px);
}

.job-search::-webkit-input-placeholder {
    text-align: center;
}

#tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.tab {
    color: var(--dark-blue);
    border-style: solid;
    border-width: 1px;
    border-color: var(--dark-blue);
    font-size: 1.5em;
    padding: 5px;
}

#in-progress-job-tab {
    border-radius: var(--common-px) 0px 0px var(--common-px);
}
#done-job-tab {
    border-radius: 0 var(--common-px) var(--common-px) 0px;
}

#jobs-header {
    display: flex;
    justify-content: space-between;
    padding: var(--common-px);
}

.tab-selected {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border-color: var(--dark-blue);
    transform: scale(1.1);
}

/* Jobs */
#jobs-container {
    display: flex;
    flex-wrap: wrap;
}

.job-number {
    font-size: 3em;
    color: var(--orange);
    text-align: center;
}

.telephone-number-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.telephone-number {
    font-size: 1.2em;
}

.phone-icon {
    width: 15px;
    height: 15px;
}

.text-radio {
    display: none;
}

.text-radio:checked + label {
    color: red;
}

header {
    align-items: center;
    padding: var(--common-px);
    position: relative;
}

main {
    padding-top: var(--common-px);
}

.job-number::-webkit-input-placeholder {
    text-align: center;
}

.tab, .job-search, #new-job-link, #mark-done, #go-to-admin {
    padding: var(--common-px);
}

#mark-done {
    font-size: 1.5em;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: solid 1px var(--blackish);
    border-radius: 10px;
}

body {
    min-width: 320px;
}

.in-progress-job, .done-progress-job, .job-search {
    margin-top: var(--common-px);
    margin-bottom: var(--common-px);
}

.in-progress-job-section, .done-job-link {
    display: block;
    border: solid 1px var(--maroon);
    border-radius: 10px;
    padding: var(--common-px);
    margin: var(--common-px);
    transition: background-color 200ms ease-in-out;
}

.in-progress-job-section:hover, .done-job-link:hover {
background-color: var(--palish-yellow);
}

.in-progress-job-link, .done-job-link {
    text-decoration: none;
    color: black;
}

.in-progress-job-section {
    display: flex;
}

/* Color On Hover Link For Buttons*/
#mark-done {
    background-color: var(--palish-yellow);
    border-color: var(--orange);
    color: var(--maroon);
}

#go-to-admin {
    display: none;
}
