/* * {
    outline: solid 2px green;
} */

/* .password-and-icon {
    outline: solid 1px green;
}

#password-create, #confirm-password-create {
    outline: solid 1px red;
    display: block;
}

.password-icon {
    outline: solid 1px purple;
} */

input {
    width: 100%;
    font-size: 1.2em;
}

input::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.2em;
}

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

input {
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    margin-top: 30px;
}

:root {
    --popup-width: 60%;
    --popup-height: 80%;
    --common-padding: 10px;
}

#manage-users-title {
    text-align: center;
    font-size: 3em;
    margin-top: 50px;
    padding: 10px;
}

.user-section {
    z-index: 0;
    padding: 10px;
    border: solid 1px var(--brightish-red);
    border-radius: 2px;
    margin: 10px;
    transition: background-color 200ms  ease-in-out;
    transition: transform 200ms  ease-in-out;
}

.user-section:hover {
    background-color: var(--palish-yellow);
    transform: scale(1.05);
}

.user-delete, .user-edit  {
    transition: transform 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    transition: border-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    border-radius: 5px;
}

.user-delete, .user-edit, #create-user, #update-user{
    border: solid 1px var(--dark-blue);
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.user-delete:hover, .user-edit:hover {
    border-color: var(--light-blue);
    background-color: var(--blue);
    color: var(--light-blue);
    transform: scale(1.1);
}

.username {
    font-size: 1.5em;
    color: var(--orange);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
}
.system-info, .bio {
    margin: 10px;
}
.popup-with-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Create */
/* #open-create-user-popup {
    background-color: var(--palish-yellow);
    color: var(--maroon);
    width: 40px;
    position: absolute;
    left: -1px;
    top: 50%;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    border: solid 1px var(--orange);
    border-radius: var(--common-px) 0px 0px var(--common-px);
    transition: width 200ms ease;
    padding: var(--common-px);
}

#open-create-user-popup:hover {
    width: 50px;
} */

#open-create-user-popup {
    /* display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto; */
    display: block;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#name-create-section {
    display: flex;
    justify-content: space-between;
}

#first-name-create-section, #last-name-create-section {
    width: 49%;
}

.password-icon {
    width: 20px;
    height: 20px;
}

.password-and-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.validation {
    text-align: center;
    font-size: 0.9em;
}

/* #password-create-section input{
    width: 80%;
} */

.create-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Delete */
#delete-user-options {
    display: flex;
    justify-content: center;
}

.delete-user-option {
    padding: var(--common-px);
    margin: 5px;
}

.delete-and-edit-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#delete-user-yes {
    background-color: var(--light-blue);
    color: var(--dark-blue);
    border: solid 1px var(--dark-blue);
}

#delete-user-no {
    background-color: var(--maroon);
    color: var(--orange);
    border: solid 1px var(--orange);
}
/* Update */
.update-input {
    padding: 5px;
    margin-bottom: 5px;
}

.update-title {
    margin-bottom: 5px;
}

.update-title, .update-input, .validation{
    max-width: 240px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#create-user, #update-user {
    margin: var(--common-padding);
    padding: var(--common-padding);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.close-popup {
    font-size: 2.5em;
}
.popup-header {
    padding: var(--common-px);
    display: flex;
    align-items: center;
}

.popup-body {
    padding: 20px;
}

#users {
    display: flex;
    flex-wrap: wrap;
}

.username {
    text-align: center;
}

.user-delete, .user-edit {
    padding: 5px;
    margin: 5px;
}

.popup {
    position: absolute;
    background-color: white;
    border: solid 1px black;
    width: var(--popup-width);
    height: var(--popup-height);
    top: calc(50% - var(--popup-height)/2);
    left: calc(50% - var(--popup-width)/2);
    transform: scale(0);
    border: solid 1px black;
    border-radius: var(--common-padding);
}

.popup-header-heading {
    font-size: 2em;
    color: var(--blackish);
}

.popup-detail {
    color: var(--blackish);
}

.popup-details-heading {
    color: var(--dark-blue);
    font-size: 1.5em;
}
.popup-detail-header {
    font-size: 1.2em;
    color: var(--blue);
}

.popup-detail-header, .popup-details-heading {
    text-decoration: underline;
}

#manage-users-title, .popup-detail-header, .popup-details-heading, .popup-header-heading {
    font-family: 'IBM Plex Sans Regular';
}
.popup-detail, .popup-detail-header, .popup-details-heading, .popup-header-heading {
    text-align: center;
}

/* number of users */
#users-number-section {
    position: absolute;
    right: 10px;
    top: 10px;
    border: dashed 1px var(--orange);
    padding: 5px;
    border-radius: 5px;
    width: 10%;
    text-align: center;
    text-transform: uppercase;
}

#users-number-header {
    color: var(--orange);
    border-bottom: solid 1px var(--maroon);
}

#users-number {
    font-size: 2em;
    color: var(--brightish-red);
    text-align: center;
}