/* * {
    outline: solid 1px green;
} */

body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

input {
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
    margin-top: 30px;
}

:root {
    --popup-width: 60%;
    --popup-height: 80%;
    --common-padding: 10px;
}

#manage-users-title {
    text-align: center;
    margin-top: 50px;
}

.user-section {
    z-index: 0;
    padding: 10px;
    border: solid 1px var(--brightish-red);
    border-radius: 2px;
    margin: 10px;
    transition: background-color 200ms  ease-in-out;
    transition: transform 200ms  ease-in-out;
}

.user-section:hover {
    background-color: var(--palish-yellow);
    transform: scale(1.05);
}

.user-delete, .user-edit {
    border: solid 1px var(--dark-blue);
    background-color: var(--light-blue);
    color: var(--dark-blue);
    transition: transform 200ms ease-in-out;
    transition: color 200ms ease-in-out;
    transition: border-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
    border-radius: 5px;
}

.user-delete:hover, .user-edit:hover {
    border-color: var(--light-blue);
    background-color: var(--blue);
    color: var(--light-blue);
    transform: scale(1.1);
}

.username {
    font-size: 1.5em;
    color: var(--orange);
}

.popup-header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

.popup-body {
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-with-details {
    display: flex;
    flex-wrap: wrap;
}

/* Create */
#open-create-user-popup {
    background-color: var(--palish-yellow);
    color: var(--maroon);
    width: 40px;
    position: absolute;
    left: -1px;
    top: 50%;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    border: solid 1px var(--orange);
    border-radius: var(--common-px) 0px 0px var(--common-px);
    transition: width 200ms ease;
    padding: var(--common-px);
}

#open-create-user-popup:hover {
    width: 50px;
}

#name-create-section {
    display: flex;
    justify-content: space-between;
}

.password-icon {
    width: 20px;
    height: 20px;
}

.password-and-icon {
    /* display: flex;
    align-items: center; */
}

#password-create-section input{
    width: 80%;
}

/* Delete */
#delete-user-options {
    display: flex;
    justify-content: center;
}

.delete-user-option {
    padding: var(--common-px);
    margin: 5px;
}

.delete-and-edit-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

/* Update */
.update-input {
    padding: var(--common-px);
    margin-bottom: var(--common-px);
}

.update-title {
    margin-bottom: var(--common-px)
}
.update-title, .update-input, .validation{
    max-width: 240px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#update-user {
    padding: var(--common-padding);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bio-heading, .system-info-heading {
    border-bottom: solid 1px black;
}

.popup-body, .popup-header {
    padding: var(--common-px);
}

#users {
    display: flex;
    flex-wrap: wrap;
}

.username {
    text-align: center;
}

.user-delete, .user-edit {
    padding: 5px;
    margin: 5px;
}

.popup {
    position: absolute;
    background-color: white;
    border: solid 1px black;
    width: var(--popup-width);
    height: var(--popup-height);
    top: calc(50% - var(--popup-height)/2);
    left: calc(50% - var(--popup-width)/2);
    transform: scale(0);
    /* padding: var(--common-padding); */
    border: solid 1px black;
    border-radius: var(--common-padding);
}

/* number of users */
#users-number-section {
    position: absolute;
    right: 10px;
    top: 10px;
    border: dashed 1px var(--orange);
    padding: 5px;
    border-radius: 5px;
    width: 10%;
    text-align: center;
    text-transform: uppercase;
}

#users-number-header {
    color: var(--orange);
    border-bottom: solid 1px var(--maroon);
}

#users-number {
    font-size: 2em;
    color: var(--brightish-red);
    text-align: center;
}