@import '../styles/update_user.css';
@import '../styles/delete_user.css';

:root {
    --popup-width: 60%;
    --popup-height: 80%;
    --common-padding: 10px;
}

.user-section {
    padding: 10px;
    border: solid 1px black;
    border-radius: 5px;
}

#users {
    display: flex;
}
#update-user-section, #delete-user-section, #view-user-section {
    position: absolute;
    background-color: white;
    border: solid 1px black;
    width: var(--popup-width);
    height: var(--popup-height);
    top: calc(50% - var(--popup-height)/2);
    left: calc(50% - var(--popup-width)/2);
    transform: scale(0);
    padding: var(--common-padding);
    border: solid 1px black;
    border-radius: var(--common-padding);
}