h1, h2 {
    text-align: center;
    padding: 10px;
}

#report-title {
    display: flex;
    justify-content: center;
}
#topic, #duration {
    width: 100px;
    text-align: center;
}

/* #menu {
    display: flex;
    justify-content: space-evenly;
} */
.report-title-content, .period-section {
    margin: 10px;
}

#period {
    display: flex;
    justify-content: center;
}

.period-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(148, 210, 189, 0.2);
    border-radius: 3px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.bar {
    fill: var(--blue);
    transition: fill 100ms ease-in-out;
}

.bar:hover {
    fill: var(--dark-blue);
}