* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Golos Text', serif;
}

/* @font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-VariableFont_wght.ttf') format('truetype');
} */

svg {
    display: block;
    margin: auto;
}

#total-jobs, #total-quantity {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
}

.graph-heading {
    font-size: 30px;
}

.graph-label {
    font-weight: bold;
}

.grid {
    color: lightgreen;
}

.circle {
    opacity: 0.5;
}

#year-scale {
    display: flex;
    width: 90%;
    border: solid 1px black;
    justify-content: space-between;
    list-style: none;
}

#year-range::-webkit-slider-runnable-track {
    background-color: #000;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    color: green;
}

.year-radio-label, .month-radio-label, .day-radio-label {
    padding: 5px;
}

#year-radio-section, #month-radio-section, #day-radio-section {
    border: solid 1px black;
    padding: 5px;
}
